{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Control me bbg</title>

    <link rel="stylesheet" href="/static/index.css" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>

<body>
    <div class="center">
        <div>
            {{ if .LoggedIn }}
            <h1>Hello {{ .Username }}</h1>
            <div id="users" hx-get="/get-users" hx-trigger="load" hx-swap="innerHTML"></div>

            <div id="messages" hx-get="/get-messages" hx-trigger="load" hx-swap="innerHTML"></div>

            <form action="" id="sendMessage">
                <input type="text" placeholder="Send Message: " id="newMessage" />
                <input type="submit" value="Send Message" />
            </form>
            {{ else }}
            <form hx-post="/user" hx-swap="innerHTML" hx-target="#usernameResp" id="usernameForm"
                onsubmit="return false;">
                <input name="username" placeholder="Enter your username" type="text" />
                <input type="submit" value="Set Name." />
            </form>

            <p id="usernameResp"></p>
            {{ end }}

        </div>
    </div>

    <script src="/static/index.js"></script>
</body>

</html>

{{ end }}
